# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = TheDailyStar_Dec_2013_Dec_2015.settings

[deploy]
#url = http://localhost:6800/
project = TheDailyStar_Dec_2013_Dec_2015
